* {
  color: #ebebeb;
  overflow-x: visible;
  font-family: "Caveat", cursive;
  font-weight: 400;
  padding: 0;
  margin: 0;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0;
}

.container {
  width: 85vw;
  margin: 0 auto;
}
.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
  font-size: 2.8vw;
  color: #feeb68;
}
.container button {
  height: 70px;
  width: 200px;
  background: transparent;
  border-radius: 50px;
  border: 2px solid #feeb68;
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -999;
}
.video:before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

header {
  padding: 40px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
}
header .container .logo-name {
  display: flex;
}
header .container .logo-name img {
  margin-top: 20px;
}
header .container .logo-name h1 {
  color: #feeb68;
  font-family: "Caveat", cursive;
  font-weight: 400;
  font-size: 5vw;
  margin: 0;
  padding: 0;
}
header .container .menu {
  display: flex;
  position: relative;
}
header .container .menu #menu {
  display: block;
  padding: 10px 15px;
  font-size: 30px;
  font-family: "Caveat", cursive;
}
header .container .menu .menu-icon {
  overflow: hidden;
  position: relative;
  width: 3vw;
}
header .container .menu .menu-icon-item {
  display: block;
  width: 100%;
  pointer-events: none;
  height: 20px;
  margin: 11px 0;
  position: absolute;
  top: 0;
  display: block;
  background-image: url("../img/menu-ic.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotateY(0);
}
header .container .menu .menu-icon-item:nth-child(2) {
  transform: translateX(15px);
  top: 14.5%;
}
header .container .menu .menu-icon-item:nth-child(3) {
  transform: translateX(30px);
  top: 29%;
}
header .container .menu .menu-icon:hover, header .container .menu .menu-icon:hover .menu-icon-item {
  cursor: pointer;
}
header .container .menu .menu-icon:hover:nth-child(2), header .container .menu .menu-icon:hover:nth-child(3), header .container .menu .menu-icon:hover .menu-icon-item:nth-child(2), header .container .menu .menu-icon:hover .menu-icon-item:nth-child(3) {
  transform: translateX(0);
}

main section {
  padding-bottom: 10vw;
}
main section .container {
  display: flex;
  justify-content: space-between;
}
main section .container .content {
  margin-top: 100px;
  width: 100vw;
}
main section .container .content h1 {
  font-size: 5vw;
}
main section .container .content h1 span {
  font-size: 6vw;
  display: inline-block;
  text-align: center;
}
main section .container .content .button {
  display: inline-block;
  border: 2px solid #feeb68;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  padding-top: 1vw;
  margin-top: 150px;
  width: 17vw;
  height: 5vw;
  font-size: 2vw;
  outline: none;
  transition-timing-function: linear;
}
main section .container .content .button:hover {
  color: #010001;
  background-color: #feeb68;
  cursor: pointer;
}

.section1 .container img {
  display: block;
  width: 60vw;
  position: absolute;
  right: 0;
  top: 250px;
}

.section2 .container .content {
  text-align: right;
}
.section2 .container .imgs {
  position: relative;
  top: 5vw;
  width: 120vw;
  height: 35vw;
}
.section2 .container .imgs div.img {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}
.section2 .container .imgs div.img:before, .section2 .container .imgs div.img:after {
  content: "";
  position: absolute;
  background-color: #fff;
  filter: blur(8px);
  overflow: hidden;
}
.section2 .container .imgs div.img:nth-child(1) {
  background-image: url(../img/section2-imgs/1.png);
  left: 0;
  top: 0;
  width: 11vw;
  height: 11vw;
}
.section2 .container .imgs div.img:nth-child(1):before {
  width: 5.2vw;
  height: 7.8vw;
  bottom: 1.55vw;
  right: 0.9vw;
  transform: rotate(-15deg);
  background: linear-gradient(330deg, rgba(0, 0, 0, 0) 35%, rgba(255, 255, 255, 0.6026785714) 50%, rgba(0, 0, 0, 0) 65%);
  background-size: 100% 100%;
  background-position: 0 9vw;
  background-repeat: no-repeat;
  border-radius: 100px;
  animation-name: png1anim;
  animation-duration: 6.8s;
  animation-iteration-count: infinite;
}
@keyframes png1anim {
  0% {
    background-position: 0 9vw;
    background-size: 80% 80%;
  }
  50% {
    background-size: 120% 120%;
  }
  100% {
    background-size: 80% 80%;
    background-position: 0 -10vw;
  }
}
.section2 .container .imgs div.img:nth-child(2) {
  background-image: url(../img/section2-imgs/2.png);
  bottom: 0;
  width: 40vw;
  height: 15vw;
}
.section2 .container .imgs div.img:nth-child(2):before {
  width: 0.7vw;
  height: 2vw;
  bottom: 7.5vw;
  right: 10vw;
  animation-name: png2anim;
  animation-duration: 4.8s;
  animation-iteration-count: infinite;
  filter: blur(4px);
}
@keyframes png2anim {
  0% {
    bottom: 7.5vw;
    right: 10vw;
    transform: rotate(20deg);
    opacity: 0;
  }
  20% {
    bottom: 7.5vw;
    right: 10vw;
    transform: rotate(20deg);
    opacity: 1;
  }
  100% {
    bottom: 5.5vw;
    right: 12vw;
    transform: rotate(0deg);
    opacity: 0;
  }
}
.section2 .container .imgs div.img:nth-child(2):after {
  width: 0.7vw;
  height: 1.8vw;
  top: 1vw;
  right: 12.7vw;
  filter: blur(5px);
  animation-name: png2anim2;
  animation-duration: 4.8s;
  animation-iteration-count: infinite;
}
@keyframes png2anim2 {
  0% {
    top: 1vw;
    right: 12.7vw;
    opacity: 0;
  }
  20% {
    top: 1.4vw;
    right: 12.5vw;
    opacity: 1;
  }
  100% {
    top: 2.7vw;
    right: 13vw;
    opacity: 0;
  }
}
.section2 .container .imgs div.img:nth-child(3) {
  background-image: url(../img/section2-imgs/3.png);
  right: 0;
  top: 0;
  width: 15vw;
  height: 15vw;
}
.section2 .container .imgs div.img:nth-child(3):before {
  width: 0.7vw;
  height: 1.1vw;
  right: 3vw;
  top: 0.8vw;
  filter: blur(5px);
  transform: rotate(-35deg);
  animation-name: png3anim;
  animation-duration: 4.8s;
  animation-iteration-count: infinite;
}
@keyframes png3anim {
  0% {
    right: 3vw;
    top: 0.8vw;
    opacity: 0;
  }
  20% {
    right: 2.9vw;
    top: 1vw;
    opacity: 1;
  }
  40% {
    top: 1.5vw;
    opacity: 1;
  }
  100% {
    right: 3.4vw;
    top: 1.7vw;
    opacity: 0;
  }
}
.section2 .container .imgs div.img:nth-child(3):after {
  width: 0.7vw;
  height: 1.1vw;
  right: 2.8vw;
  bottom: 4.5vw;
  transform: rotate(35deg);
  animation-name: png3anim2;
  animation-duration: 4.8s;
  animation-iteration-count: infinite;
}
@keyframes png3anim2 {
  0% {
    transform: rotate(35deg);
    right: 2.4vw;
    bottom: 4.5vw;
    opacity: 0;
  }
  50% {
    transform: rotate(68deg);
    right: 2.05vw;
    bottom: 3.7vw;
    opacity: 1;
  }
  100% {
    transform: rotate(78deg);
    right: 2.05vw;
    bottom: 3.3vw;
    opacity: 0;
  }
}

.section3 .conteiner .slider-item {
  width: 200px;
  height: 70px;
  background-color: #fff;
}

/*# sourceMappingURL=style.css.map */
