* {
    color: #ebebeb;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999;


    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -999
    }

    &:before {
        content: ' ';
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .3)
    }
}

// main container for all sections blocks 
.container {
    width: 85vw;
    margin: 0 auto;
}

// logo and all menu
header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        // the logo at the top left of window 
        .logo-name {
            display: flex;

            img {
                margin-top: 20px
            }

            h1 {
                color: #feeb68;
                font-family: 'Caveat', cursive;
                font-weight: 400;
                font-size: 5vw;
                margin: 0;
                padding: 0;
            }
        }

        .menu {
            display: flex;
            position: relative;

            #menu {
                display: block;
                padding: 10px 85px;
                font-size: 30px;
                font-family: 'Montserrat', sans-serif;
            }

            .menu-icon {
                overflow: hidden;
                position: relative;
                width: 45px;

                &-item {
                    display: block;
                    width: 100%;
                    transition: .5s;
                    pointer-events: none;
                    height: 3px;
                    background-color: #fff;
                    border-radius: 20px;
                    margin: 11px 0;
                    position: absolute;
                    top: 0;
                    display: block;

                    &:nth-child(2) {
                        transform: translateX(15px);
                        top: 27%;
                    }

                    &:nth-child(3) {
                        transform: translateX(30px);
                        top: 54%;
                    }
                    
                    
                }


                &:hover,
                &:hover .menu-icon-item {
                    cursor: pointer;

                    &:nth-child(2) {
                        transform: translateX(0);
                    }

                    &:nth-child(3) {
                        transform: translateX(0)
                    }
                }
            }

            img {
                position: absolute;
                right: -15px;
                top: -10px;
                z-index: -1;
                opacity: 1;
            }
        }
    }
}